*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.slider{
    width:100%;
    height:200px;
    display:flex;
    justify-content:center;
    align-items:center;
}

img{
    width:300px;
    height:300px;
    object-fit:cover;
}

.slider .row{
    display:flex;
    width:calc(100px*18);
    animation:slide 30s linear infinite;
}
@keyframes slide{
    /* 0%{
        transform:translateX(0);
    }
    0%{
        transform:translateX(cal(100px));
    } */
    0% {
        transform: translateX(0%);
      }
      20% {
        transform: translateX(0%);
      }
      25% {
        transform: translateX(-100%);
      }
      45% {
        transform: translateX(-100%);
      }
      50% {
        transform: translateX(-200%);
      }
      70% {
        transform: translateX(-200%);
      }
      75% {
        transform: translateX(-300%);
      }
      95% {
        transform: translateX(-300%);
      }
      100% {
        transform: translateX(-400%);
      }
}
/* img:hover{
    transform:translateZ(15px);
    transition:4s;
} */

.slider .column{
    perspective:100px;
    padding:7px;
}
   
   